body {
  margin: 0;
  font-family: "'Baloo 2', cursive";
  overflow: hidden;
}

html {
  overflow: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
