body {
  margin: 0;
  font-family: "'Baloo 2', cursive"
  
}

html, body {
  margin: 0;
  overflow: hidden;
}
 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
